In [3]:
import pandas as pd

# Building Training Data

In [19]:
df = pd.read_csv('../data/training_all.csv')
df

,text,l1,l2,l3
0,Yakuman (役満) is a 1989 mahjong video game deve...,Work,Software,VideoGame
1,"Reas Pass, elevation 6,930 feet (2,110 m), is ...",Place,NaturalPlace,MountainPass
2,François Marcela-Froideval (born 10 December 1...,Agent,Artist,ComicsCreator
3,Cinzia Frosio is an Italian former competitive...,Agent,WinterSportPlayer,FigureSkater
4,Lac de Pierre-Percée is a lake in Pierre-Percé...,Place,BodyOfWater,Lake
...,...,...,...,...
274219,"Jalan Tanjung Gelang, Federal Route 435, is a ...",Place,RouteOfTransportation,Road
274220,Reggina Calcio extended its stay in Serie A by...,SportsSeason,SportsTeamSeason,SoccerClubSeason
274221,Ger Lynch (born 10 December 1958) is an Irish ...,Agent,Athlete,GaelicGamesPlayer
274222,"Walter Edward Fauntroy (born February 6, 1933)...",Agent,Politician,Congressman
274223,The 2009 New England Patriots season was the 4...,SportsSeason,FootballLeagueSeason,NationalFootballLeagueSeason

## Classifier 1

Classifier 1 has labels:
- Agent
- Place
- Other

In [15]:
tr_c1 = df.loc[:,['text', 'l1']].rename(columns={'l1':'labels'})
tr_c1

                                                     text        labels
0       Yakuman (役満) is a 1989 mahjong video game deve...          Work
1       Reas Pass, elevation 6,930 feet (2,110 m), is ...         Place
2       François Marcela-Froideval (born 10 December 1...         Agent
3       Cinzia Frosio is an Italian former competitive...         Agent
4       Lac de Pierre-Percée is a lake in Pierre-Percé...         Place
...                                                   ...           ...
274219  Jalan Tanjung Gelang, Federal Route 435, is a ...         Place
274220  Reggina Calcio extended its stay in Serie A by...  SportsSeason
274221  Ger Lynch (born 10 December 1958) is an Irish ...         Agent
274222  Walter Edward Fauntroy (born February 6, 1933)...         Agent
274223  The 2009 New England Patriots season was the 4...  SportsSeason

[274224 rows x 2 columns]

In [16]:
tr_c1.loc[~tr_c1['labels'].isin(['Agent', 'Place']), 'labels'] = "Other"

In [31]:
tr_c1.labels.value_counts()

Agent    141620
Other     80488
Place     52116
Name: labels, dtype: int64

In [20]:
tr_c1.to_csv('../data/training_c1.csv', index=False)

## Classifier 2

Classifier 2 has labels:

- Athlete
- Person
- Other

In [23]:
tr_c2 = df[df['l1'] == 'Agent'].loc[:,['text', 'l2']].rename(columns={'l2':'labels'})
tr_c2

,text,labels
2,François Marcela-Froideval (born 10 December 1...,Artist
3,Cinzia Frosio is an Italian former competitive...,WinterSportPlayer
7,Ann Bowditch is a former road cyclist from Gue...,Athlete
9,Claxtonola was a jazz record label founded in ...,Company
10,"Donald Alan (Don) Brumfield (born May 24, 1938...",Athlete
...,...,...
274213,Justinus Darmojuwono (2 November 1914 – 3 Feb...,Cleric
274215,Annie Lavery is a fictional character on ABC's...,FictionalCharacter
274218,"Cheverus High School is a private, Jesuit, col...",EducationalInstitution
274221,Ger Lynch (born 10 December 1958) is an Irish ...,Athlete
274222,"Walter Edward Fauntroy (born February 6, 1933)...",Politician

In [24]:
tr_c2.loc[~tr_c2['labels'].isin(['Athlete', 'Person']), 'labels'] = "Other"

In [30]:
tr_c2.labels.value_counts()

Other      83979
Athlete    35374
Person     22267
Name: labels, dtype: int64

In [27]:
tr_c2.to_csv('../data/training_c2.csv', index=False)

## Classifier 3

Classifier 3 has labels:

- GolfPlayer
- Gymnast
- Cyclist
- ...

In [33]:
tr_c3 = df[df['l2'] == 'Athlete'].loc[:,['text', 'l3']].rename(columns={'l3':'labels'})
tr_c3.labels.value_counts()

Cyclist                          2210
MartialArtist                    2180
BasketballPlayer                 2178
AustralianRulesFootballPlayer    2167
TennisPlayer                     2161
GaelicGamesPlayer                2161
Gymnast                          2157
BaseballPlayer                   2150
Swimmer                          2149
GolfPlayer                       2133
SoccerPlayer                     2131
Cricketer                        2131
RugbyPlayer                      2125
HandballPlayer                   1619
BadmintonPlayer                  1056
ChessPlayer                      1016
PokerPlayer                       485
HorseRider                        471
DartsPlayer                       417
Jockey                            383
TableTennisPlayer                 372
Canoeist                          321
LacrossePlayer                    308
SquashPlayer                      292
Rower                             206
Bodybuilder                       203
NetballPlayer                     192
Name: labels, dtype: int64

In [34]:
tr_c3.to_csv('../data/training_c3.csv', index=False)

## Classifier 4

Classifier 4 has labels:

- Noble
- Judge
- Architect
- ...

In [35]:
tr_c4 = df[df['l2'] == 'Person'].loc[:,['text', 'l3']].rename(columns={'l3':'labels'})
tr_c4.labels.value_counts()

Noble              2146
OfficeHolder       2125
MilitaryPerson     2106
Judge              2076
Architect          2073
Monarch            1839
BeautyQueen        1728
Philosopher        1358
Model              1238
Journalist         1176
Economist           847
Religious           725
BusinessPerson      574
Engineer            557
Ambassador          465
Astronaut           455
Chef                427
PlayboyPlaymate     185
HorseTrainer        167
Name: labels, dtype: int64

In [37]:
tr_c4.to_csv('../data/training_c4.csv', index=False)

## Classifier 5

Classifier 5 has labels:

- FigureSkater
- Airline
- ...

In [49]:
tr_c5 = df[df['l1']=='Agent']
tr_c5 = tr_c5[~tr_c5.l2.isin(['Athlete', 'Person'])].loc[:,['text', 'l3']].rename(columns={'l3':'labels'})

In [52]:
tr_c5.labels.value_counts()

Airline                  2195
MemberOfParliament       2190
Congressman              2176
TelevisionStation        2175
University               2166
                         ...
ClassicalMusicArtist      220
Brewery                   203
AnimangaCharacter         168
BeachVolleyballPlayer     153
CanadianFootballTeam      152
Name: labels, Length: 77, dtype: int64

In [55]:
tr_c5.to_csv('../data/training_c5.csv', index=False)

## Classifier 6

Classifier 6 has labels:

- Planet
- Castle
- ...

In [56]:
tr_c6 = df[df['l1']=='Place']
tr_c6 = tr_c6.loc[:,['text', 'l3']].rename(columns={'l3':'labels'})

In [58]:
tr_c6.labels.value_counts()

Road                   2184
Stadium                2178
Mountain               2177
Village                2174
River                  2172
HistoricBuilding       2165
Airport                2162
Town                   2161
Dam                    2161
Bridge                 2160
Museum                 2159
RailwayLine            2149
Lake                   2143
Diocese                2143
Planet                 2138
Hospital               2125
ShoppingMall           1904
MountainRange          1850
ArtificialSatellite    1817
RailwayStation         1665
Lighthouse             1435
Castle                 1048
Prison                  996
Hotel                   947
Restaurant              824
MountainPass            750
Galaxy                  651
Theatre                 569
Volcano                 554
RollerCoaster           533
Glacier                 506
Cave                    371
Canal                   305
GolfCourse              259
RoadTunnel              211
CricketGround           188
Racecourse              182
Name: labels, dtype: int64

In [59]:
tr_c6.to_csv('../data/training_c6.csv', index=False)

## Classifier 7

Classifier 7 has all remaining labels:
- Newspaper
- OlympicEvent
- ...

In [62]:
tr_c7 = df[~df['l1'].isin(['Agent', 'Place'])].loc[:,['text', 'l3']].rename(columns={'l3':'labels'})
tr_c7.labels.value_counts()

Newspaper                            2187
OlympicEvent                         2179
Mollusca                             2179
RaceHorse                            2179
Manga                                2176
Amphibian                            2176
Reptile                              2175
Magazine                             2175
NationalFootballLeagueSeason         2170
Fish                                 2165
SoccerTournament                     2160
Bird                                 2157
Election                             2155
Arachnid                             2152
FootballMatch                        2151
NCAATeamSeason                       2151
Fungus                               2146
Album                                2145
VideoGame                            2140
Single                               2137
AcademicJournal                      2135
MilitaryConflict                     2128
Insect                               2125
SoccerClubSeason                     2119
ArtistDiscography                    2112
Crustacean                           2035
SupremeCourtOfTheUnitedStatesCase    2002
HorseRace                            1777
Convention                           1625
Play                                 1490
GolfTournament                       1360
CultivatedVariety                    1288
HollywoodCartoon                     1221
Musical                              1027
Anime                                1012
GrandPrix                             981
MusicGenre                            890
WrestlingEvent                        878
EurovisionSongContestEntry            808
TennisTournament                      802
FilmFestival                          718
Fern                                  694
CyclingRace                           648
Earthquake                            598
MixedMartialArtsEvent                 580
Conifer                               519
ClassicalMusicComposition             479
WomensTennisAssociationTournament     376
Moss                                  349
MusicFestival                         291
GreenAlga                             290
AutomobileEngine                      280
ComicStrip                            279
Grape                                 279
SolarEclipse                          272
Poem                                  254
BaseballSeason                        192
Cycad                                 166
BiologicalDatabase                    154
Name: labels, dtype: int64

In [63]:
tr_c7.to_csv('../data/training_c7.csv', index=False)