In [1]:
import pandas as pd
import math
import numpy as np
from sklearn.metrics import classification_report
import torch.nn.functional as F
import torch
import os
from tqdm import tqdm,trange
from torch.optim import Adam
from torch.utils.data import TensorDataset, DataLoader, RandomSampler, SequentialSampler
from sklearn.model_selection import train_test_split
from transformers import (XLNetConfig, XLNetForSequenceClassification, XLNetTokenizer)
from tqdm.notebook import tqdm

In [4]:
df = pd.read_csv('../data/training_all.csv')
df.l3.value_counts()

Cyclist                  2210
Airline                  2195
MemberOfParliament       2190
Newspaper                2187
Road                     2184
                         ...
HorseTrainer              167
Cycad                     166
BiologicalDatabase        154
BeachVolleyballPlayer     153
CanadianFootballTeam      152
Name: l3, Length: 219, dtype: int64

In [10]:
samples = list()

for label in df.l3.unique():
    sample_size = 500
    label_df = df[df['l3'] == label]
    if len(label_df) < sample_size:
        sample_size = len(label_df)
    samples.append(label_df.sample(sample_size))
balanced_df = pd.concat(samples)
balanced_df

,text,l1,l2,l3
111098,Ratchet & Clank: Into the Nexus (known as Ratc...,Work,Software,VideoGame
171514,Rig Racer 2 is a video game developed by Data ...,Work,Software,VideoGame
130490,Avengers in Galactic Storm (アベンジャーズ・イン・ギャラクティッ...,Work,Software,VideoGame
219501,"Shin Megami Tensei IV (Japanese: 真・女神転生IV, lit...",Work,Software,VideoGame
200896,Pokémon Black Version and Pokémon White Versio...,Work,Software,VideoGame
...,...,...,...,...
158956,"Debbie White (born 23 April 1978 in Balclutha,...",Agent,Athlete,NetballPlayer
77754,Elaine Lamour Davis (born 21 September 1976) i...,Agent,Athlete,NetballPlayer
111046,"Joanne \""Jo\"" Harten (born 21 March 1989) is a...",Agent,Athlete,NetballPlayer
49357,"(For other people named Margaret Foster, see M...",Agent,Athlete,NetballPlayer
123443,Joline Henry (born 29 September 1982 in Whanga...,Agent,Athlete,NetballPlayer

In [13]:
balanced_df.to_csv('../data/training_balanced.csv')

In [15]:
balanced_df.l3.value_counts()

TennisTournament         500
Lighthouse               500
MilitaryUnit             500
SoapCharacter            500
BroadcastNetwork         500
                        ...
HorseTrainer             167
Cycad                    166
BiologicalDatabase       154
BeachVolleyballPlayer    153
CanadianFootballTeam     152
Name: l3, Length: 219, dtype: int64